figure.highlight { /* 控制代码框顶栏颜色、宽度、圆角等 */
  /*
  background: #21252b;
  background: rgb(246,248,250);
  */
  background: rgb(246,248,250);
  border-radius: 8px;
  box-shadow: 1px 2px 22px 1px rgba(0, 0, 0, .3);
  padding-top: 25px;
  z-index:998;
}

figure.highlight::before { /* 绘制三个小圆点 */
  background: #fc625d;
  border-radius: 50%;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
  content: ' ';
  height: 12px;
  left: 12px;
  margin-top: -15px;
  position: absolute;
  width: 12px;
  z-index:999;
}

/* 此段代码修改了行高和div溢出隐藏。如果不设置溢出隐藏那么标题的div框会覆盖上下的文字
   这些文字无法选中，链接无法点开，十分影响使用体验 */
   h1,h2,h3,h4,h5,h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
    overflow: hidden;
}

/* 此段代码修改了六个等级标题、多行引用、行内代码的样式，在颜色和行高字号上产生区分 */
h1 {
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}
h2 {
  font-size: 1.75em  ;
  line-height: 1.1;
  /* border-bottom: 0px solid #eee; */
  color: #7e3131;
}
h3 {
  font-size: 1.5em;
  line-height: 1.1;
  color: RGB(47,85,151);
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
 font-size: 1em;
 color: #777;
}
blockquote {
  border-left: 4px solid #dfe2e5;
  padding: 0 15px;
  color: #777777;
}
code {
  background-color: #dddddde6;
  padding: 0 0px 0 0px;
  border-radius: 5px;
  text-indent: 0;
  color: #e17523;
}


p {
  text-indent: 2em; /*首行缩进*/
}
li > p {
  text-indent: 0; /*防止列表也被缩进*/
}

/* 代码和表格设置最大高度，高度或宽度超出都不会显示在页面中，可以通过滚动条查看 */
table {
  padding: 0;
  word-break: initial;
  overflow-x: auto;
  max-height: 36em;
  overflow-y: auto !important;
}

body, header, div.mask.flex-center, div.scroll-down-bar, #banner.banner, h1,h2,h3,h4,h5,h6 {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a11.cur), auto;
}

a:hover, button:hover, i:hover {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}

#rightside>div>button,
#rightside>div>a {
  display: block;
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
  color: var(--btn-color);
  text-align: center;
  font-size: 16px;
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}

/* 文章标签 */
.layout_post .tag_share .post-meta__tags {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
/* 评论区 */
.vcol * {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
.v[data-class=v] .vicon {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
.v[data-class=v] .vbtn {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
/* 回复 */
.vat {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
/*分页器*/
#pagination .page-number:hover {
  cursor: url(https://typora-gilgamesh.oss-cn-shanghai.aliyuncs.com/img1/a22.cur), auto;
}
/* 分页器的三个点(...) */
.space {
  color: #00c4b6;
}


.col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
  width: 123%;
  left: -23%; 
}
@media (max-width: 767px) {
  .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
      width: 100%;
      left: 0; 
  }
}
@media (max-width: 424px) {
  .col-lg-8.nopadding-x-md > .container.nopadding-x-md > #board.py-5 {
      width: 100%;
      left: 0; 
  }
}


